#Ignore folders
.config/Code - OSS
.config/dconf
.config/systemd
.cache
.local
.mozilla
.nv
.pki
.todo
.vscode-oss
.cargo
cache_directory
AUR
Downloads
wallpapers


#Ignore files
.asoundrc.asoundconf
.bash_history
.bash_logout
.histfile
.Xauthority
.Xresources
.zcompdump
.fehbg
.viminfo
.config/pulse/b06a7966aa4a43048df06506481eb98c-card-database.tdb
.config/pulse/b06a7966aa4a43048df06506481eb98c-default-sink
.config/pulse/b06a7966aa4a43048df06506481eb98c-default-source
.config/pulse/b06a7966aa4a43048df06506481eb98c-device-volumes.tdb
.config/pulse/b06a7966aa4a43048df06506481eb98c-stream-volumes.tdb
.config/dconf/user
.config/pulse/cookie
.config/dconf/user
Scripts/spotpass.sh
.config/spotify-tui/.spotify_token_cache.json
.config/spotify-tui/client.yml

#Ignore extsensions
*.stats
