$bg0: #232a2e;
$bg1: #2d353b;
$fg: #d3c6aa;
$accent: #e67e80;

$success: #a7c080;
$warning: #dbbc7f;
$critical: #e69875;

$bar-cpu: #7fbbb3;
$bar-memory: #e67e80;
$bar-battery: #83c092;
$bar-battery-discharging: #dbbc7f;
